pipeline/PL_Worker_Load.json
{
	"name": "PL_Worker_Load",
	"properties": {
		"activities": [
			{
				"name": "CopyNewData",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.p_SourceTableName}\nWHERE last_updated > '@{pipeline().parameters.p_ProcessingDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SourceSqlTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SinkData",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@concat(pipeline().parameters.p_ProcessingDate, '_data.parquet')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "UpdateWatermarkFile",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetNewWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT '@{activity('GetNewWatermark').output.firstRow.NewWatermark}' as currentWatermark,\n    '@{pipeline().parameters.p_ProcessingDate}' as previousWatermark",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "currentWatermark",
									"type": "String"
								},
								"sink": {
									"path": "$['currentWatermark']"
								}
							},
							{
								"source": {
									"name": "previousWatermark",
									"type": "String"
								},
								"sink": {
									"path": "$['previousWatermark']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SourceSqlTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_WatermarkFile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetNewWatermark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CopyNewData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(Last_updated) as NewWatermark\nFROM @{pipeline().parameters.p_SourceTableName}\nWHERE Last_updated > '@{pipeline().parameters.p_ProcessingDate}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SourceSqlTable",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"p_ProcessingDate": {
				"type": "string"
			},
			"p_SourceTableName": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-09T10:52:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}